header {
    grid-area: h;
    background-color: rgba(13, 190, 13, 0.377);
}

.head img {
     width: 80px;
     height: 80px;
}

.loginBlock {
    float: right;
    font-weight:  bold;
    color: darkblue;
    font-size: large;
    margin: 15px 100px 0px 0px;
    border: 3px solid red;
    box-shadow: 0px 0px 5px 5px red;
    background-color: red ;
    border-radius: 40%;
}

.loginBlock a {
    font-weight:  bold;
    color: darkblue;
    font-size: large;
    margin: 15px 100px 0px 0px;
    border: 3px solid red;
    box-shadow: 0px 0px 5px 5px red;
    background-color: red ;
    border-radius: 40%;
   
}