.friends {
    display: grid;
    grid-template-columns: 2fr 10fr;
   }
   
.friends > div {
       padding: 10px;
   }
   
.friendsitems .active{
       color: aqua;
   }
   
.ages {
       padding: 10px;
   
   }
   
.ages .age {
       color: black;
   
   }