
.app-wrapper{
    display: grid;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
     grid-template-columns: 2fr 10fr;
      grid-gap: 0px;
    width: 1400px;
  
}

.app-wrapper-content{
    grid-area: c;
    background-color: rgba(49, 67, 126, 0.651);
    padding: 10px;
}

