.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.dialogsitems { 
    padding: 10px; 
}

.dialogsitems .active{
    color: aqua;
}

.messages {
    padding: 10px;

}

.messages .message {
    color: black;

}